@import "./base/reset.css";

/* font-awesome */
@import "../css/components/font-awesome.min.css";

/* components */
@import "./components/coment.css";
@import "./components/contact-form.css";
@import "./components/form.css";
@import "./components/logo-line.css";
@import "./components/review.css";

/* header start */
header {
  display: inline-table;
  height: 100px;
  background-color: fff;
  width: 100%;
  align-items: center;
  position: relative;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 16px;
}

.logo {
  height: 80px;
  padding: 10px 40px 10px;
}

.icons-line {
  display: inline-block;
  align-items: left;
  position: relative;
  margin-left: 100px;
  margin-bottom: 0px;
}

.icons {
  display: inline-block;
  padding: 0 20px 20px 20px;
  height: 15px;
}

.login-buttom {
  display: inline-block;
  width: auto;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: red;
  border-radius: 30px;
}

.menu {
  display: flex;
  align-items: right;
  margin-top: 10px;
}
.menu > a {
  color: black;
  text-decoration: none;
  padding-left: 20px;
}
.menu > a:hover {
  color: grey;
  text-decoration: none;
}

/* header end */

/* hero start */
.hero {
  display: flex;
  height: 118vh;
  align-items: center;
  background-attachment: fixed;
}

/* hero end */
